# Block IP Address with .htaccess

# This will allow access to all IPs EXCEPT the ones listed.
# You can use this to allow all access Except Spammer's IP addresses.

# Replace xxx.xxx.xxx.xxx and xxx.xxx.xxx.xxy with the IP addresses you want to block.

# Apache 2.2

Order deny,allow
Allow from all
Deny from xxx.xxx.xxx.xxx
Deny from xxx.xxx.xxx.xxy

# Apache 2.4

# Require all granted
# Require not ip xxx.xxx.xxx.xxx
# Require not ip xxx.xxx.xxx.xxy
