# Prevent access to a specific file in htaccess
# Hide the file named filetohide.jpg
# This can be a file of any tyep (html, jpg, php, etc.)

# the following prevents display of the filetohide file

<files filetohide.jpg>
Order Allow,Deny
Deny from all
</files>

# Prevent access to multiple files in .htaccess

<FilesMatch ".(htaccess|htpasswd|ini|phps|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>